<%= form_with(model: song, remote: true, id: "upload-form") do |form| %>
  <div class="field">
    <%= form.hidden_field :title %>
  </div>

  <div class="field">
    <%= form.hidden_field :bpm %>
  </div>

  <div class="field">
    <%= form.hidden_field :analysed %>
  </div>

  <div class="field">
    <%= form.label :mp3 %>
    <%= form.file_field :mp3 %>
  </div>

  <div id="create_song_progress">
  </div>

  <div class="actions">
    <%= form.submit 'Create Song', id: 'create_song_btn'%>
  </div>
<% end %>