<%= form_with(model: song, local: true) do |form| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
        <% song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :title %>
  </div>

  <div class="field">
    <%= form.hidden_field :bpm %>
  </div>

  <div class="field">
    <%= form.hidden_field :analysed %>
  </div>

  <div class="field">
    <%= form.label :mp3 %>
    <%= form.file_field :mp3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <span id='output'></span>
<% end %>

<script src='../mp3_info.js'></script>
